DCChargeService_RS.xml

<?xml version='1.0' encoding='UTF-8'?>
<definitions name='UKDCChargeServiceBean' targetNamespace='http://ws.dccharge.server.asterix.magenta.com/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://ws.dccharge.server.asterix.magenta.com/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
    <types>
        <xs:schema targetNamespace='http://ws.dccharge.server.asterix.magenta.com/' version='1.0' xmlns:tns='http://ws.dccharge.server.asterix.magenta.com/' xmlns:xs='http://www.w3.org/2001/XMLSchema'>
            <xs:element name='GetUKDCCharges' type='tns:GetUKDCCharges'/>
            <xs:element name='GetUKDCChargesResponse' type='tns:GetUKDCChargesResponse'/>
            <xs:element name='ukFeeDetails' type='tns:UKFeeDetails'/>
            <xs:element name='ukdcChargeRequest' type='tns:UKDCChargeRequest'/>
            <xs:element name='ukdcChargeResponse' type='tns:UKDCChargeResponse'/>
            <xs:element name='ukdcTimeSlot' type='tns:UKDCTimeSlot'/>
            <xs:complexType name='GetUKDCCharges'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='Request' type='tns:UKDCChargeRequest'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='UKDCChargeRequest'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='CountryCode' type='xs:string'/>
                    <xs:element minOccurs='0' name='RateCode' type='xs:string'/>
                    <xs:element minOccurs='0' name='AWD' type='xs:string'/>
                    <xs:element name='Delivery' type='xs:boolean'/>
                    <xs:element minOccurs='0' name='DeliveryAddressType' nillable='true' type='tns:AddressType'/>
                    <xs:element minOccurs='0' name='DeliveryStationMnemonic' type='xs:string'/>
                    <xs:element minOccurs='0' name='DeliveryStationPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='CustomerDeliveryPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='DeliveryDate' type='xs:string'/>
                    <xs:element minOccurs='0' name='DeliveryTime' type='xs:string'/>
                    <xs:element name='Collection' type='xs:boolean'/>
                    <xs:element minOccurs='0' name='CollectionAddressType' nillable='true' type='tns:AddressType'/>
                    <xs:element minOccurs='0' name='CollectionStationMnemonic' type='xs:string'/>
                    <xs:element minOccurs='0' name='CollectionStationPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='CustomerCollectionPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='CollectionDate' nillable='true' type='xs:string'/>
                    <xs:element minOccurs='0' name='CollectionTime' type='xs:string'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='GetUKDCChargesResponse'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='UKDCChargeResponse' type='tns:UKDCChargeResponse'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='UKDCChargeResponse'>
                <xs:sequence>
                    <xs:element maxOccurs='unbounded' minOccurs='0' name='DeliverySlots' type='tns:UKDCTimeSlot'/>
                    <xs:element maxOccurs='unbounded' minOccurs='0' name='CollectionSlots' type='tns:UKDCTimeSlot'/>
                    <xs:element minOccurs='0' name='DeliveryFeeDetails' type='tns:UKFeeDetails'/>
                    <xs:element minOccurs='0' name='CollectionFeeDetails' type='tns:UKFeeDetails'/>
                    <xs:element minOccurs='0' name='TotalCharge' type='xs:double'/>
                    <xs:element minOccurs='0' name='VAT' type='xs:double'/>
                    <xs:element minOccurs='0' name='CurrencyUnit' type='xs:string'/>
                    <xs:element minOccurs='0' name='DistanceUnit' type='xs:string'/>
                    <xs:element minOccurs='0' name='Warning' type='xs:string'/>
                    <xs:element minOccurs='0' name='Error' type='tns:UKDCChargeError'/>
                    <xs:element name='Success' type='xs:boolean'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='UKDCTimeSlot'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='TimeSlotStart' type='xs:string'/>
                    <xs:element minOccurs='0' name='TimeSlotEnd' type='xs:string'/>
                    <xs:element name='PremiumWindow' type='xs:boolean'/>
                    <xs:element minOccurs='0' name='Fee' type='xs:double'/>
                    <xs:element minOccurs='0' name='OOHSurcharge' type='xs:double'/>
                </xs:sequence>
            </xs:complexType>
            <xs:complexType name='UKFeeDetails'>
                <xs:sequence>
                    <xs:element minOccurs='0' name='AddressType' type='tns:AddressType'/>
                    <xs:element minOccurs='0' name='StationMnemonic' type='xs:string'/>
                    <xs:element minOccurs='0' name='StationPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='StationPremiumPercent' type='xs:double'/>
                    <xs:element minOccurs='0' name='CustomerPostcode' type='xs:string'/>
                    <xs:element minOccurs='0' name='FlatFee' type='xs:double'/>
                    <xs:element minOccurs='0' name='Distance' type='xs:double'/>
                    <xs:element minOccurs='0' name='FeePerDistanceUnit' type='xs:double'/>
                    <xs:element minOccurs='0' name='TotalFee' type='xs:double'/>
                    <xs:element minOccurs='0' name='PremiumSurcharge' type='xs:double'/>
                    <xs:element minOccurs='0' name='OOHSurcharge' type='xs:double'/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name='AddressType'>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='Home'/>
                    <xs:enumeration value='Business'/>
                </xs:restriction>
            </xs:simpleType>
            <xs:simpleType name='UKDCChargeError'>
                <xs:restriction base='xs:string'>
                    <xs:enumeration value='INTERNAL_SERVICE_ERROR'/>
                    <xs:enumeration value='INCORRECT_PARAMETERS'/>
                    <xs:enumeration value='CANNOT_MATCH_WITH_PROFILE'/>
                    <xs:enumeration value='CANNOT_MATCH_WITH_COUNTRY'/>
                    <xs:enumeration value='CANNOT_ACCESS_BING'/>
                    <xs:enumeration value='ROUTING_ERROR'/>
                    <xs:enumeration value='NOT_FOUND_DELIVERY_STATION_POSTCODE'/>
                    <xs:enumeration value='NOT_FOUND_COLLECTION_STATION_POSTCODE'/>
                    <xs:enumeration value='NOT_FOUND_DELIVERY_CUSTOMER_POSTCODE'/>
                    <xs:enumeration value='NOT_FOUND_COLLECTION_CUSTOMER_POSTCODE'/>
                    <xs:enumeration value='CALCULATION_ERROR'/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </types>
    <message name='UKDCChargeService_GetUKDCChargesResponse'>
        <part element='tns:GetUKDCChargesResponse' name='GetUKDCChargesResponse'></part>
    </message>
    <message name='UKDCChargeService_GetUKDCCharges'>
        <part element='tns:GetUKDCCharges' name='GetUKDCCharges'></part>
    </message>
    <portType name='UKDCChargeService'>
        <operation name='GetUKDCCharges' parameterOrder='GetUKDCCharges'>
            <input message='tns:UKDCChargeService_GetUKDCCharges'></input>
            <output message='tns:UKDCChargeService_GetUKDCChargesResponse'></output>
        </operation>
    </portType>
    <binding name='UKDCChargeServiceBinding' type='tns:UKDCChargeService'>
        <soap:binding style='document' transport='http://schemas.xmlsoap.org/soap/http'/>
        <operation name='GetUKDCCharges'>
            <soap:operation soapAction=''/>
            <input>
                <soap:body use='literal'/>
            </input>
            <output>
                <soap:body use='literal'/>
            </output>
        </operation>
    </binding>
    <service name='UKDCChargeServiceBean'>
        <port binding='tns:UKDCChargeServiceBinding' name='UKDCChargeServiceBeanPort'>
            <soap:address location='https://10.14.17.244:8443/WizmapWS/UKDCChargeService'/>
        </port>
    </service>
</definitions>
